global:
  domain: argocd.{{ domain }}

configs:
  params:
    server.insecure: true

server:
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-cloudflare
    hosts:
      - argocd.{{ domain }}
    tls:
      - secretName: argocd-tls
        hosts:
          - argocd.{{ domain }}
